name: Main

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  php-cs-fixer:
    runs-on: ubuntu-latest
    name: Coding Standards
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          tools: php-cs-fixer

      - name: PHP Coding Standards Fixer
        run: php-cs-fixer --diff --dry-run --using-cache=no -v fix src

  php-stan:
    runs-on: ubuntu-latest
    name: PHPStan
    steps:
      - uses: actions/checkout@v3
      - uses: php-actions/composer@v6 # or alternative dependency management
      - uses: php-actions/phpstan@v3
        with:
          path: src/
          level: 9

  phpunit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['8.1', '8.2', '8.3']
        mode: ['high-deps', 'low-deps']
      fail-fast: false
    name: PHP ${{ matrix.php-versions }} tests with ${{ matrix.mode }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - name: Get composer cache directory
        id: composercache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composercache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ matrix.mode }}-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-${{ matrix.mode }}-

      - name: Install dependencies with low-deps
        run: composer update --prefer-dist $(if [ "${{ matrix.mode }}" = 'low-deps' ]; then echo '--prefer-lowest'; fi)

      - name: Run tests
        run: vendor/bin/phpunit
